<h2 style="margin-top: 60px">Add a new article</h2>

<form method="POST" action="/articles">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Headline</label>
    <input type="text" name="description" id="description" placeholder="Description" class="form-control">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" id="synopsis" placeholder="Content" class="form-control">News content</textarea>
  </div>
  </div>

  <div class="form-group">
    <label>Image</label>
    <input type="text" name="images[]" class="form-control">
  </div>

  <button class="btn btn-secondary btn-lg btn-block">Add Content</a>
</form>
