<h2 style="margin-top: 60px">Latest headlines</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-5 newsArticle" id="0">
    </div>
    <div class="col-lg-5 col-md-offset-2 newsArticle" id="1">
    </div>
  </div>
  <div class="row" style="margin-top: 2.0em">
    <div class="col-lg-5 newsArticle" id="2">
    </div>
    <div class="col-lg-5 col-md-offset-2 newsArticle" id="3">
    </div>
    <%# <div class="col-md-4"><img src="https://www.fillmurray.com/300/200"></div>%>
  </div>
  <div class="row" style="margin-top: 2.0em">
    <div class="col-lg-5 newsArticle" id="4">
    </div>
    <div class="col-lg-5 col-md-offset-2 newsArticle" id="5">
    </div>
    <%# <div class="col-md-4"><img src="https://www.fillmurray.com/300/200"></div>%>
  </div>
  <div class="row" style="margin-top: 2.0em; padding-bottom:8.0em">
    <div class="col-lg-5 newsArticle" id="6">
    </div>
    <div class="col-lg-5 col-md-offset-2 newsArticle" id="7">
    </div>
    <%# <div class="col-md-4"><img src="https://www.fillmurray.com/300/200"></div>%>
  </div>
</div>
