
body {
  background-color: #eaeaea;
}

.col-lg-5 {
  background-color: white;

}

.col-lg-12 {
  background-color: white;

}

.navbar-fixed-bottom {
  background-color: #080808;
}


.head {
  margin-bottom:10px;
}

.btn-secondary {
  color: #9d9d9d;
  background-color: #222;
  border-color: #9d9d9d; /*set the color you want here*/
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: black;
  background-color: #eaeaea;
  border-color: black; /*set the color you want here*/
}
